[submodule "spynet"]
	path = spynet
	url = https://github.com/sushlokshah/pytorch-spynet.git

[submodule "flownet2-pytorch"]
	path = flownet2-pytorch
	url = https://github.com/sushlokshah/flownet2-pytorch-1.git
[submodule "mmflow"]
	path = mmflow
	url = https://github.com/sushlokshah/mmflow.git
[submodule "VCN"]
	path = VCN
	url = https://github.com/sushlokshah/VCN.git
[submodule "GMFlowNet"]
	path = GMFlowNet
	url = https://github.com/sushlokshah/GMFlowNet.git
