[submodule "spynet"]
    path = spynet
    url = https://github.com/sushlokshah/spynet.git

[submodule "flownet2-pytorch"]
	path = flownet2-pytorch
	url = https://github.com/sushlokshah/flownet2-pytorch.git
